@import url("../index.css");
.editor-styles-wrapper .editor-visual-editor__post-title-wrapper h1, .editor-styles-wrapper .editor-visual-editor__post-title-wrapper h2, .editor-styles-wrapper .editor-visual-editor__post-title-wrapper h3, .editor-styles-wrapper .editor-visual-editor__post-title-wrapper h4, .editor-styles-wrapper .editor-visual-editor__post-title-wrapper h5, .editor-styles-wrapper .editor-visual-editor__post-title-wrapper h6 {
  color: #1d2327;
  font-size: 2em;
  margin: 0.67em 0;
}
.editor-styles-wrapper .block-editor-block-list__layout h1, .editor-styles-wrapper .block-editor-block-list__layout h2, .editor-styles-wrapper .block-editor-block-list__layout h3, .editor-styles-wrapper .block-editor-block-list__layout h4, .editor-styles-wrapper .block-editor-block-list__layout h5, .editor-styles-wrapper .block-editor-block-list__layout h6 {
  color: #dac5a7 !important;
}
.editor-styles-wrapper .block-editor-block-list__layout img {
  mix-blend-mode: unset !important;
}
.editor-styles-wrapper .block-editor-block-list__layout button {
  border: unset !important;
  background-color: transparent !important;
  display: inline-flex !important;
  color: #dac5a7 !important;
}